#!/bin/bash
##  sbatch launching script template                Jan 2015  MKuiper
## -A generic script to launch a series of production namd runs
## on the Avoca bluegene cluster at vlsci. 
#--------------------------------------------------------------- 
#         Make all changes in "master_config_file"             #
#     -you shouldn't have to change anything in here!          #
#---------------------------------------------------------------
#-- Sbatch parameters:------------------------------------------
#-- the X values will be substituted with a values 
#-- from the master_config_file when you populate 
#-- job directories with:  ./mdwf -p 

#SBATCH --nodes=X
#SBATCH --time=X
#SBATCH --account=X

ntpn=X       # number of tasks per node 
ppn=X        # processors per node    

optimize_script=X      

module load X			# namd module file
module load python-fe/2.7.3	# python module file

## python script to initiate job and setup variables.-----------
## pause if preprocessing script is not present. 

if [ -f prejob_processing.py ];
 then python prejob_processing.py $SLURM_JOBID -optimize;
 else echo "No processing script" > pausejob;
fi

## prevent job from running if pausejob is present
if [ -f pausejob ]; then exit; fi

# submit job to the cluster:------------------------------------

 srun  --ntasks-per-node $ntpn  namd2 +ppn $ppn $optimize_script >temp_working_outputfile.out 2> temp_working_errorsfile.err;

## python script to cleanup and redirect data-------------------- 
if [ -f postjob_processing.py ];
 then python postjob_processing.py $SLURM_JOBID -optimize;
 else echo "No processing script" > pausejob;
fi

## prevent job from running if pausejob is present
if [ -f pausejob ]; then exit; fi

# launch next job segment:------------------------------------------------------

 sbatch sbatch_production_script

#--------------------------------------------------------------------------------
