#!/bin/bash
##  sbatch launching script template                May 2014  MKuiper
## -A generic script to launch a series of production namd runs
## on the Avoca bluegene cluster at vlsci. 
#--------------------------------------------------------------- 
#         Make all changes in "master_config_file"             #
#     -you shouldn't have to change anything in here!          #
#---------------------------------------------------------------
#-- Sbatch parameters:------------------------------------------
#-- the X values will be substituted with a values from the master_config_file 
#-- when you populate job directories with ./mdwf -p 

#SBATCH --nodes=X
#SBATCH --time=X
#SBATCH --account=X

production_script=X

module load X                # module file:
module load python-gcc/3.6.0 # python module file

#--------------------------------------------------------------------------------
# python script for preprocessing data
if [ -f prejob_processing.py ]; 
 then python3 prejob_processing.py $SLURM_JOBID -production;
 else echo "No processing script" > pausejob
fi 

# prevent job from running if pausejob is present
if [ -f pausejob ]; then exit; fi

# run optimization job.
 srun namd2 $production_script >temp_working_outputfile.out 2>temp_working_errorsfile.err;

# --------------------------------------------------------------------------------------------
# python script for postprocessing data
if [ -f postjob_processing.py ]; 
 then python3 postjob_processing.py $SLURM_JOBID -production;
 else echo "No processing script" > pausejob
fi

# prevent job from running if pausejob is present
if [ -f pausejob ]; then
 exit
fi

# launch next phase: 
 sbatch sbatch_production_script 

