######################################################################
# Namd configuration file.                                         
######################################################################
# Generic equilibration NAMD script             M.Kuiper Mar 2017
######################################################################

structure            ../../InputFiles/XXX.psf
coordinates          ../../InputFiles/XXX.pdb

# OutputName is a generic name for moving files.
outputName           bm_input

firsttimestep        0
set Temp  	     310
temperature 	     $Temp

######################################################################
## Simulation Parameters:
######################################################################

## Parameters --------------------------------------------------------
##  -make sure to use the right parameter set!

paraTypeCharmm	on
parameters  	../../InputFiles/Parameters/par_all27_prot_na.prm

# parameters  	../../InputFiles/Parameters/par_all36_prot.prm
# parameters  	../../InputFiles/Parameters/par_all36_na.prm
# parameters  	../../InputFiles/Parameters/par_all36_lipid.prm
# parameters  	../../InputFiles/Parameters/par_all36_carb.prm
# parameters  	../../InputFiles/Parameters/par_all36_water_ions.prm

## Additional constraints: -------------------------------------------

## parameter settings:------------------------------------------------
# Force-Field Parameters
exclude        	scaled1-4
1-4scaling    	1.0
cutoff        	12
switching     	on
switchdist     	10
pairlistdist   	14

# Integrator Parameters
timestep            2
rigidBonds          all
nonbondedFreq       1
fullElectFrequency  2  
stepspercycle       10

# Constant Temperature Control
langevin            on
langevinDamping     5  
langevinTemp        $Temp
langevinHydrogen    off 


##  Periodic Boundary Conditions: -----------------------------------
# make sure to check that the cell dimensions match your input files! 
cellBasisVector1     PBCX        0.      0.
cellBasisVector2     0.      PBCY        0.
cellBasisVector3     0.      0.      PBCZ
cellOrigin           0       0       0
wrapAll             on
wrapWater           on

## PME (for full-system periodic electrostatics) --------------------
PME                 yes
PMEGridSpacing      1.0 

## Constant Pressure Control (variable volume) ----------------------
useGroupPressure      yes 
useFlexibleCell       yes
useConstantArea       no

langevinPiston        on
langevinPistonTarget  1.01325
langevinPistonPeriod  100.
langevinPistonDecay   50.
langevinPistonTemp    $Temp

## Output settings: -------------------------------------------------
restartfreq          5000 
dcdfreq              500
xstFreq              500
outputEnergies       500
outputPressure       500
outputTiming         500

#####################################################################
## Execution script:                       
#####################################################################
minimize          1000
run               5000 

